@font-face{font-family:A;src:local('APL385 Unicode'),url('APL385 Unicode')}
@media(prefers-color-scheme:dark){html{filter:invert(1)hue-rotate(180deg)}}
h1{height:1em}
textarea{font-family:A;width:calc(50% - 1ex);height:calc(100% - 6em);resize:none}
body{background:#ccc;text-align:center;overflow:hidden}
